In [ ]:
import sqlite3
#connect to the database
conn=sqlite3.connect("mydb.db")# Creata a connection , if database is not present ,create it implicitly
cursor=conn.cursor()#cursor is an object used to send sql cmd to the databse and read the result

In [4]:
cursor.execute("""CREATE TABLE IF NOT EXISTS students(
               id INTEGER PRIMARY KEY,
               name text,
               age INTEGER,
               address text)""")

In [10]:
res=cursor.execute("SELECT name FROM sqlite_master")
row=res.fetchone()
print(row[0])

students

In [11]:
cursor.execute("PRAGMA table_info(students)")
columns=cursor.fetchall()
print(columns)

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 0, None, 0), (2, 'age', 'INTEGER', 0, None, 0), (3, 'address', 'TEXT', 0, None, 0)]

In [12]:
cursor.execute('INSERT into students(id,name,age,address) values(1,"Aakash Udi",39,"Rajbanshi")')

In [13]:
cursor.execute('Insert into students(id,name,age,address) values(2,"khullu",23,"jungle")')

In [5]:
conn.commit()

In [6]:

cursor.execute("select * from students")
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Aakash Udi', 39, 'Rajbanshi')
(2, 'khullu', 23, 'jungle')

In [14]:
cursor.execute('SELECT *FROM students WHERE address  LIKE "R%" ')
rows = cursor.fetchall()

print(rows)

[(1, 'Aakash Udi', 39, 'Rajbanshi')]

In [16]:
cursor.execute('SELECT * from students WHERE name LIKE "k%"')
rows=cursor.fetchall()
for row in rows:
    print(row)

(2, 'khullu', 23, 'jungle')

In [18]:
cursor.execute('SELECT * from students WHERE address LIKE "Rajbanshi"')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Aakash Udi', 39, 'Rajbanshi')

In [29]:
from sqlalchemy import create_engine

engine = create_engine(
    "sqlite:///C:/Users/Acer/Desktop/Advanced Python/Day6/students.db",
    echo=True
)

In [30]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class Student(Base):
    __tablename__ = 'students'

    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    age = Column(Integer)
    address = Column(String(100))

    def __repr__(self):
        return f"Student(id={self.id}, name={self.name}, age={self.age}, address={self.address})"

C:\Users\Acer\AppData\Local\Temp\ipykernel_18124\816755183.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [31]:
Base.metadata.create_all(engine)

2026-01-05 13:06:50,685 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-05 13:06:50,687 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2026-01-05 13:06:50,689 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-01-05 13:06:50,692 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2026-01-05 13:06:50,694 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-01-05 13:06:50,696 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	age INTEGER,
	address VARCHAR(100),
	PRIMARY KEY (id)
)


2026-01-05 13:06:50,698 INFO sqlalchemy.engine.Engine [no key 0.00153s] ()
2026-01-05 13:06:50,705 INFO sqlalchemy.engine.Engine COMMIT

In [32]:
from sqlalchemy.orm import sessionmaker 
Session = sessionmaker(bind=engine)
session = Session()

In [33]:
student1 = Student(name='Ram', age=20, address='Ithari')
student2 = Student(name='Shyam', age=19, address='Ithari')
student3 = Student(name='Hari', age=20, address='Biratnagar')

session.add_all([student1, student2, student3])
session.commit()

2026-01-05 13:07:06,897 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-05 13:07:06,900 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age, address) VALUES (?, ?, ?) RETURNING id
2026-01-05 13:07:06,902 INFO sqlalchemy.engine.Engine [generated in 0.00022s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Ram', 20, 'Ithari')
2026-01-05 13:07:06,905 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age, address) VALUES (?, ?, ?) RETURNING id
2026-01-05 13:07:06,906 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Shyam', 19, 'Ithari')
2026-01-05 13:07:06,907 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age, address) VALUES (?, ?, ?) RETURNING id
2026-01-05 13:07:06,908 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Hari', 20, 'Biratnagar')
2026-01-05 13:07:06,910 INFO sqlalchemy.engine.Engine COMMIT

In [34]:
data = session.query(Student).all()
for row in data:
    print(row)

2026-01-05 13:07:13,347 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-05 13:07:13,350 INFO sqlalchemy.engine.Engine SELECT students.id AS students_id, students.name AS students_name, students.age AS students_age, students.address AS students_address
FROM students
2026-01-05 13:07:13,351 INFO sqlalchemy.engine.Engine [generated in 0.00104s] ()
Student(id=1, name=Ram, age=20, address=Ithari)
Student(id=2, name=Shyam, age=19, address=Ithari)
Student(id=3, name=Hari, age=20, address=Biratnagar)

# NOSQL
# MongoDB

In [1]:
from pymongo import MongoClient
import os
from dotenv import load_dotenv
load_dotenv()
url=os.getenv("URL")#cloud server mongodb atlas
client=MongoClient(url)
db=client['school']
collection=db['students']
mydict={"name":"john","major":"Computer"}
x=collection.insert_one(mydict)
print(type(x))
print(x)

<class 'pymongo.results.InsertOneResult'>
InsertOneResult(ObjectId('696f895afb585d4afdf6d826'), acknowledged=True)

In [3]:
print(x.inserted_id)

696f895afb585d4afdf6d826

In [5]:
mydict={"_id":102,"name":"Ay","major":"computer"}
collection.insert_one(mydict)

InsertOneResult(102, acknowledged=True)

In [11]:
y=collection.find_one()
print(y)

{'_id': ObjectId('696bb5846b00375a84c474ec'), 'name': 'john', 'major': 'Computer'}

In [ ]:
for i in collection.find():#just like select in sql
    print(i)

{'_id': ObjectId('696bb5846b00375a84c474ec'), 'name': 'john', 'major': 'Computer'}
{'_id': 101, 'name': 'Ayush', 'major': 'computer'}

In [6]:
myquery={"name":"Ayush"}#just like sect * from students where name=ayush
mydoc=collection.find(myquery)
for i in mydoc:
    print(i)

{'_id': 101, 'name': 'Ayush', 'major': 'computer'}

In [8]:
mydict={"_id":103,"name":"ush","major":"civil"}
collection.insert_one(mydict)

InsertOneResult(103, acknowledged=True)

In [9]:
m=collection.find().sort("name",1)#sort according to name for descending use -1
for i in m:
    print(i)

{'_id': 102, 'name': 'Ay', 'major': 'computer'}
{'_id': 101, 'name': 'Ayush', 'major': 'computer'}
{'_id': ObjectId('696f895afb585d4afdf6d826'), 'name': 'john', 'major': 'Computer'}
{'_id': ObjectId('696bb5846b00375a84c474ec'), 'name': 'rohan', 'major': 'Computer'}
{'_id': 103, 'name': 'ush', 'major': 'civil'}

In [10]:
m=collection.find().sort("_id",1)#sort according to id for descending use -1
for i in m:
    print(i)

{'_id': 101, 'name': 'Ayush', 'major': 'computer'}
{'_id': 102, 'name': 'Ay', 'major': 'computer'}
{'_id': 103, 'name': 'ush', 'major': 'civil'}
{'_id': ObjectId('696bb5846b00375a84c474ec'), 'name': 'rohan', 'major': 'Computer'}
{'_id': ObjectId('696f895afb585d4afdf6d826'), 'name': 'john', 'major': 'Computer'}

In [11]:
myquery={"name":"ush"}
collection.delete_one(myquery)

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000034d'), 'opTime': {'ts': Timestamp(1768917416, 7), 't': 845}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1768917416, 7), 'signature': {'hash': b"7\xf1\x1f\x8c\xd5n\xe5\xf3\\`8hN&^\xa4'\xa3\x87\x01", 'keyId': 7545956436094746644}}, 'operationTime': Timestamp(1768917416, 7)}, acknowledged=True)

In [12]:
m=collection.find()
for i in m:
    print(i)

{'_id': ObjectId('696bb5846b00375a84c474ec'), 'name': 'rohan', 'major': 'Computer'}
{'_id': 101, 'name': 'Ayush', 'major': 'computer'}
{'_id': ObjectId('696f895afb585d4afdf6d826'), 'name': 'john', 'major': 'Computer'}
{'_id': 102, 'name': 'Ay', 'major': 'computer'}

In [13]:
mycol=db["customers"]
mycol.insert_one(mydict)

InsertOneResult(103, acknowledged=True)

In [14]:
mycol.drop()#collection customers drop

In [15]:
#update
query={"name":"john"}
newvalues={"$set":{"name":"rohan"}}
collection.update_one(query,newvalues)
for x in collection.find():
    print(x)

{'_id': ObjectId('696bb5846b00375a84c474ec'), 'name': 'rohan', 'major': 'Computer'}
{'_id': 101, 'name': 'Ayush', 'major': 'computer'}
{'_id': ObjectId('696f895afb585d4afdf6d826'), 'name': 'rohan', 'major': 'Computer'}
{'_id': 102, 'name': 'Ay', 'major': 'computer'}